* {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

}

#topnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    background-color: #1F2937;

}

#awesome {
    color: white;
    font: 48px bold #F9FAF8
}

p {
    color: #E5E7EB;
}

#bottomnavcontainer {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#leftnav {
    background-color: inherit;
    height: auto;
    width: 300px;

}

#rightnav {
    background-color: inherit;
    height: auto;
    width: auto;

}

#toprightnav {
    display: flex;
    flex-direction: row;
}

#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#middle {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middleflex {
    width: 300px;
}



#random_info {
    display: block;
    width: 100%;
    text-align: center;

}

#bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    background-color: #1F2937;

}

.sections {
    width: 100%;
    height: 200px;
}

#call {
    background-color: #3882f6;
    width: 700px;
    height: 90px;
    border-radius: 8px;

}

body {
    display: flex;
    flex-direction: column;
}

.boxes {
    background-color: white;
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.navlistitem {
    display: inline-block;
    margin: 0px 5px;
}

#quote {
    font-size: 18;
    font-style: italic;
    color: #1F2937;
}

#author {
    color: black;
    justify-self: right;
}

a {
    color: white;
    text-decoration: none;
}